# git 上传的 规则

*.class
#package file 
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclips 
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws
*.lws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db